<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>天气</title>

</head>

<body>

  <div id="app">
    <button @click="cc">查询</button>
    <br>
    <input value="输入查询的城市" v-model="city">
    <ul>
      <li v-for="(item,index) in items">{{index+1}}---------{{item}}</li>
      <br>
      <br>
    </ul>
  </div>

  <!-- http://wthrcdn.etouch.cn/weather_mini?city=%E5%8D%97%E4%BA%AC -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>

    var vm = new Vue({
      el: "#app",
      data: {
        city: '扬州',
        items: []
      },
      methods: {
        cc(){
          var that=this;
          axios.get("http://wthrcdn.etouch.cn/weather_mini?city="+this.city)
                  .then(function (response) {
                    console.log(response.data.data.forecast);
                    that.items=response.data.data.forecast;
                  }), function (err) {
            console.log(err);
          }
        }
        }
    });

  </script>


</body>

</html>